---
title: 书单
layout: default
description: Stay hungry, stay foolish. 
header-img: "img/book-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- {{content}} -->

            <blockquote>
                收录原则：
                    <li>各个领域的经典读物。</li>
                    <li>认真阅读并写过书评。</li>
            </blockquote>

            <div class="panel panel-primary">
                 <div class="panel-heading">为什么学生不喜欢上学?</div>
                 <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/4864832/">
                                 <img src="/img/in-book/why-do-not-students-like-school.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                          <table class="table table-bordered">
                          <tbody>
                           <tr><td style="width:80px;">作者</td><td style="width:200px;">(美) 威廉厄姆 (Willingham.D.T.) </td></tr>
                           <tr><td>出版社</td><td>江苏教育</td></tr>
                           <tr><td>出版年</td><td>2010-5</td></tr>
                           <tr><td>评论</td><td>我们对教育的想像过于浪漫，很多现代父母认为的「常识」，错的离谱。《为什么学生不喜欢上学》这本书中，列出了认知科学在k12领域的新进展，颠覆了大量人们关于学习的常识。书中所说的内容，不仅适用于学生，也适用于成人日常学习。基于书中提到的研究结论，我整理了几点体会。<a href="/2015/11/03/why-do-not-students-like-school/">查看全部</a></td></tr>
                          </tbody>
                          </table>
                        </div>
                      </div>  
                 </div>
            </div>

            <div class="panel panel-primary">
                 <div class="panel-heading">机器人叛乱：在达尔文时代找到意义</div>
                 <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/26412113/">
                                 <img src="/img/in-book/robot.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                          <table class="table table-bordered">
                          <tbody>
                           <tr><td style="width:80px;">作者</td><td>(加拿大) 基思·斯坦诺维奇（Keith E.Stanovich） </td></tr>
                              <tr><td>出版社</td><td>机械工业出版社</td></tr>
                           <tr><td>出版年</td><td>2015-5</td></tr>
                           <tr><td>评论</td><td>你就像个机器人。出厂前，你就被预装了一些程序A；出厂后，你所在的教育环境、社会环境，会乘你不注意时（或还没有能力判断时），自动为你安装一些程序B；你自己也会选择安装一些程序C。<a href="/2015/08/21/robot/">查看全部</a></td></tr>
                          </tbody>
                          </table>
                        </div>
                      </div>  
                 </div>
            </div>

            <div class="panel panel-primary">
                 <div class="panel-heading">重塑大脑，重塑人生</div>
                 <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/26296233/">
                                 <img src="/img/in-book/brain.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                          <table class="table table-bordered">
                          <tbody>
                           <tr><td style="width:80px;">作者</td><td>(美) 诺曼•道伊奇（Norman Doidge）</td></tr>
                              <tr><td>出版社</td><td>机械工业出版社</td></tr>
                           <tr><td>出版年</td><td>2015-1</td></tr>
                           <tr><td>评论</td><td>大脑具有神经可塑性，我们做的每件事都会改变大脑的结构。<a href="/2015/05/13/brain/">查看全部</a></td></tr>
                          </tbody>
                          </table>
                        </div>
                      </div>  
                 </div>
            </div>

            <div class="panel panel-primary">
                 <div class="panel-heading">创新的本质：日本名企最新知识管理案例</div>
                 <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/1837431/">
                                 <img src="/img/in-book/innovation.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                          <table class="table table-bordered">
                          <tbody>
                           <tr><td style="width:80px;">作者</td><td>(日) 野中郁次郎 </td></tr>
                              <tr><td>出版社</td><td>知识产权出版社</td></tr>
                           <tr><td>出版年</td><td>2006-6</td></tr>
                           <tr><td>评论</td><td>许多了不起的创新设计，当它还没出现时，所有人都想不出它，但一旦它成型面世，我们就将它的设计和功能视为必然。<a href="/2015/04/24/innovation/">查看全部</a></td></tr>
                          </tbody>
                          </table>
                        </div>
                      </div>  
                 </div>
            </div>

            <div class="panel panel-primary">
                 <div class="panel-heading">牛津通识读本：数学</div>
                 <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/25829287/">
                                 <img src="/img/in-book/math.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                          <table class="table table-bordered">
                          <tbody>
                           <tr><td style="width:80px;">作者</td><td>(英) 蒂莫西•高尔斯 </td></tr>
                              <tr><td>出版社</td><td>译林出版社</td></tr>
                           <tr><td>出版年</td><td>2014-3</td></tr>
                           <tr><td>评论</td><td>与其说是介绍数学知识，不如说是介绍数学哲学，作者目的是让我们学习如何抽象地思考。<a href="/2015/02/28/math/">查看全部</a></td></tr>
                          </tbody>
                          </table>
                        </div>
                      </div>  
                 </div>
            </div>

            <div class="panel panel-primary">
                 <div class="panel-heading">神们自己：关于平行宇宙的一切</div>
                 <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/26264967/">
                                 <img src="/img/in-book/gods.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                          <table class="table table-bordered">
                          <tbody>
                           <tr><td style="width:80px;">作者</td><td>(美) 艾萨克·阿西莫夫</td></tr>
                              <tr><td>出版社</td><td>江苏凤凰文艺出版社</td></tr>
                           <tr><td>出版年</td><td>2014-12</td></tr>
                           <tr><td>评论</td><td>我最喜欢的文字：有干货、简练、质朴，能清晰有力地表达观点，不过分修饰。目前在我熟悉的名单中，最符合这个标准的人选，除了Paul Graham，还有一个大神－－阿西莫夫。<a href="/2015/02/12/gods/">查看全部</a></td></tr>
                          </tbody>
                          </table>
                        </div>
                      </div>  
                 </div>
            </div>

            <div class="panel panel-primary">
                 <div class="panel-heading">穷查理宝典：查理·芒格的智慧箴言录</div>
                 <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/5346110/">
                                 <img src="/img/in-book/charlie-munger.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                          <table class="table table-bordered">
                          <tbody>
                           <tr><td style="width:80px;">作者</td><td>(美) 彼得·考夫曼(编)</td></tr>
                              <tr><td>出版社</td><td>上海人民出版社</td></tr>
                           <tr><td>出版年</td><td>2010-10</td></tr>
                           <tr><td>评论</td><td>在芒格看来，事间万物都是一个相互作用的整体，人类所有的知识都是对这一整体研究的部分尝试，只有把这些知识结合起来，并贯穿在一个思想框架中，才能对正确的知识和决策起到帮助作用。所以他提倡学习所有重要学科（包括数学、物理学、生物学、工程学、心理学、经济学等等）的重要理论，熟练运用来自不同学科的思维模式来解决问题。<a href="/2015/01/27/charlie-munger/">查看全部</a></td></tr>
                          </tbody>
                          </table>
                        </div>
                      </div>  
                 </div>
            </div>

        </div>
    </div>
</div>
