---
layout: page
title: "List"
description: "人生的欲望啊~"
header-img: "img/post-bg-biancheng.jpg"
---

<div>
<p>【LIST清单】脱胎于<a href="http://tengblog.com/2016/07/30/list/">《一些人生的欲望清单》</a></p>
<h1>关于人生的清单</h1><p>好多时候都是在网上看到自己喜欢的东西，最后看了半天，对东西有了更多的了解，等到马上要付款拿下的时候才想到自己的囊中羞涩。</p>
<p>有了收入时，却不再清晰地想起自己想过，“这东西劳资有钱了肯定买。”这大概是一种永远的悖论。为了再有钱的时候可以买到自己喜欢的东西，不再是纠结半天；也为了激励自己还有那么多精美的东西不曾拥有：我觉得列个单子，记录下自己的一些清单和原则，比较好。</p><p>再不济，有朋友想送礼物，可以在下面随便拿一件，都是我想要的。</p>
<h2>原则圣经</h2><p>一些做人的指导</p>
<img src="http://7xtgob.com1.z0.glb.clouddn.com/16-10-7/81731581.jpg" height="auto" width="100%" alt="">
<br>
<table>
    <thead>
    <tr>
    <th style="text-align:center">原则</th>
    <th style="text-align:center">介绍</th>
    <th style="text-align:center">效果</th>
    </tr>
    </thead>
<tbody>

<tr>
<td style="text-align:center">做有创造性的工作</td>
<td style="text-align:center">缘由</td>
<td style="text-align:center"> 兼职在准备，主业筹备中 </td>
</tr>
<tr>
<td style="text-align:center">消费分期，还款一次性</td>
<td style="text-align:center"><a href="http://tengblog.com/2016/08/02/buy/">《买！买！买！》</a></td>
<td style="text-align:center">为达成下面那个清单找到了借口</td>
</tr>
<!-- <tr>
<td style="text-align:center">程序员修炼之道</td>
<td style="text-align:center"><a href="http://wdxtub.com/2015/12/19/pragmatic-programmer-note/">书摘</a></td>
<td style="text-align:center">程序员的自我修养</td>
</tr>

</tbody>
</table>
<h2>程序员的十八般武艺</h2><p>在这个快速迭代的世界，不一定要十八般武艺精通，但至少得知道是怎么回事儿。</p>
<table>
<thead>
<tr>
<th style="text-align:center">书名</th>
<th style="text-align:center">相关内容</th>
<th style="text-align:center">简评</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">鸟哥的 Linux 私房菜</td>
<td style="text-align:center"><a href="http://wdxtub.com/2016/03/26/linux-basic-soup/">书摘</a></td>
<td style="text-align:center">也许是从零开始最友好的一本书</td>
</tr>
<tr>
<td style="text-align:center">编码：隐匿在计算机软硬件背后的语言</td>
<td style="text-align:center">-</td>
<td style="text-align:center">想读</td>
</tr>
<tr>
<td style="text-align:center">Java 编程思想</td>
<td style="text-align:center">-</td>
<td style="text-align:center">未整理</td>
</tr>
<tr>
<td style="text-align:center">Effective Java</td>
<td style="text-align:center">-</td>
<td style="text-align:center">想读</td> 
</tr>-->


</tbody>
</table>


<h2>无尽物欲</h2><p>是工具还是欲望~</p>

<img src="http://7xtgob.com1.z0.glb.clouddn.com/16-7-30/93354079.jpg" height="auto" width="100%" alt="">
<br>
<table>
<thead>
<tr>
<th style="text-align:center">物名</th>
<th style="text-align:center">具体</th>
<th style="text-align:center">进展</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">机械键盘</td>
<td style="text-align:center"><a href="">Filco&cherry 68键 茶轴</a></td>
<td style="text-align:center"> 已退烧 </td>
</tr>
<tr>
<td style="text-align:center">mac pro</td>
<td style="text-align:center"><a href="">顶配pro </a></td>
<td style="text-align:center"> 在攒钱 </td>
</tr>

<tr>
<td style="text-align:center">4k 显示屏</td>
<td style="text-align:center"><a href="">dell 4k 显示器 </a></td>
<td style="text-align:center"> 购入代替品</td>
</tr>

<tr>
<td style="text-align:center">Kindle Oasis </td>
<td style="text-align:center"><a href="">就是觉得很酷  </a></td>
<td style="text-align:center"> 已退烧</td>
</tr>
<tr>
<td style="text-align:center">lamy alster</td>
<td style="text-align:center"><a href="">是金属的，不是塑料的 </a></td>
<td style="text-align:center">  </td>
</tr>
<!-- <tr>
<td style="text-align:center">4k 显示屏</td>
<td style="text-align:center"><a href="">dell 4k 显示器 </a></td>
<td style="text-align:center">  </td>
</tr> -->


</tbody>
</table>



      </div>

  



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/list"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/list/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
