@import "../variables.scss";

@media only screen and (max-width: 991px) {
	.hr {
		display: none;
	}
}

.root {
	margin-bottom: -5px;
	a {
		display: inline-block;
		padding: 0 10px;
		margin: 0 1px 6px;
		font-size: 12px;
		line-height: 24px;
		color: $gray-l;
		text-decoration: none;
		border: 1px solid $gray-l;
		border-radius: 999em;
		&:hover, &:active {
			color: $brand-primary;
			text-decoration: none;
			background-color: rgba(255, 255, 255, .4);
			border-color: $brand-primary;
		}
		@media only screen and (min-width: 768px) {
			margin-right: 5px;
		}
	}
}
