<div id="gitalk-container"></div>
	<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
	<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
	<script>
	var gitalk = new Gitalk({
	    id: '{{ page.url }}',
	    clientID: '{{ da91910585c3fa341fe6 }}',
	    clientSecret: '{{ e3e39c5fe7550a24549b4f62c4b125206e552a1e }}',
	    repo: '{{ linyi4843.github.io }}',
	    owner: '{{ linyi4843 }}',
	    admin: ['{{ linyi4843 }}'],
		labels: ['Gitalk'],
})
gitalk.render('gitalk-container')
</script>
