<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
    var gitalk = new Gitalk({
        id: '{{ page.url }}',
        clientID: '{{ site.gitalk.clientID }}',
        clientSecret: '{{ site.gitalk.clientSecret }}',
        repo: '{{ site.gitalk.repo }}',
        owner: '{{ site.gitalk.admin }}',
        admin: ['{{ site.gitalk.admin }}'],
        labels: ['Gitalk'],
    });
    gitalk.render('gitalk-container')
</script>