<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-12-02-what-do-we-contribute.md</string>
		</array>
		<array>
			<string>2014-01-29-hello-2015.markdown</string>
		</array>
		<array>
			<string>2014-08-16-miui6.markdown</string>
		</array>
		<array>
			<string>2014-09-04-is-pure-android-better.markdown</string>
		</array>
		<array>
			<string>2014-10-01-why-alibaba-ux-sucks.markdown</string>
		</array>
		<array>
			<string>2014-11-20-responsive-web-design.markdown</string>
		</array>
		<array>
			<string>2014-12-13-wechat-block-kuaidi.markdown</string>
		</array>
		<array>
			<string>2015-03-10-apple-event-2015.markdown</string>
		</array>
		<array>
			<string>2015-03-25-digital-native.markdown</string>
		</array>
		<array>
			<string>2015-03-31-e2e_user_scenarios.markdown</string>
		</array>
		<array>
			<string>2015-04-14-unix-linux-note.markdown</string>
		</array>
		<array>
			<string>2015-04-15-os-metro.markdown</string>
		</array>
		<array>
			<string>2015-05-11-see-u-ali.markdown</string>
		</array>
		<array>
			<string>2015-05-25-js-module-loader.markdown</string>
		</array>
		<array>
			<string>2015-06-15-alitrip-strategy.markdown</string>
		</array>
		<array>
			<string>2015-07-09-js-module-7day.markdown</string>
		</array>
		<array>
			<string>2015-09-22-js-version.markdown</string>
		</array>
	</array>
</dict>
</plist>
