/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Hiragino Sans GB",'Helvetica',"Microsoft Yahei",sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100%;
}

blockquote{
  background: rgb(241,241,241);
  padding: 10px 20px;
  color: #85838B;
  margin-top: 20px;
  margin-bottom: -20px;
}

main h2 {
  padding-top:20px;
  margin-top:40px;
  border-top:1px solid rgba(0,0,0,.12);
  color:rgb(0,185,209);
}

main img {
  margin-top: 20px;
}

main h3{
  color: rgb(35, 197, 132);
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0,187,210);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  overflow: hidden;
  z-index: 2;
}

.app-bar-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 58px;
  position: relative;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.app-bar.open {
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
  flex: 1;
  font-size: 20px;
  line-height: 58px;
  margin: 0px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 58px;
  height: 58px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.app-bar button img {
  width: 58px;
  height: 58px;
}

/*.app-bar button:hover {*/
/*  background-color: rgba(255, 255, 255, 0.1);*/
/*}*/

.app-bar button:focus {
  /*background-color: rgba(255, 255, 255, 0.2);*/
  outline: 0;
}

/*.app-bar button:active {*/
/*  background-color: rgba(255, 255, 255, 0.4);*/
/*}*/

button.menu img {
  height:24px;
  width: 24px;
}

.promote-layer {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base, p, ul, ol {
  font-size: 15px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow:2px 2px 4px rgba(0, 0, 0, 0.15);
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  overflow: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 58px;
  padding: 0 25px;
  line-height: 58px;
  margin: 0px;
}

.navdrawer-container h4 {
  background-color: white;
}

.navdrawer-container ul {
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: rgb(68,68,68);
  transition: background-color 0.2s ease-out;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 0px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li:before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;

  /*FOR IE*/
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 1200px) {
  .app-bar {
    /*position: relative;*/
  }

  .app-bar-container {
    display: block;
    height: 80px;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 80px;
    font-size: 26px;
  }

  .app-bar-actions {
    float: right;
  }

  .navdrawer-container h4 {
    display: none;
  }
  
  .app-bar:after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  nav {
    display: block;
  }

  main {
   /* margin-left:260px;*/
    padding-top: 85px;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }

  .navdrawer-container {
    height: auto;
    margin-top: 80px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: none;
  }
}

@media all and (min-width: 1400px) {
  main{
    margin: 0 auto;
  }
}
