---
layout: default
---

<!-- Post Header -->
{% include intro-header.html type="page" %}

<!-- Main Content -->
<div class="container">
	<div class="row">
        {% if site.sidebar == false %}
<!-- NO SIDEBAR -->
    <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <!-- no hr -->
                {% include featured-tags.html hr=false %}
                {% endif %}

                <!-- Friends Blog -->
                {% if site.friends %}
                {% include friends-links.html %}
                {% endif %}
            </div>
        {% else %}

<!-- USE SIDEBAR -->
    <!-- PostList Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
    			{{ content }}
    		</div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->
                {% if site.featured-tags %}
                {% include featured-tags.html hr=true %}
                {% endif %}

                <!-- Short About -->
                {% include short-about.html %}
                <!-- Friends Blog -->
                {% if site.friends %}
                {% include friends-links.html %}
                {% endif %}
    		</div>
        {% endif %}
	</div>
</div>
