@font-face {
	font-family: 'huxico';
	src:url('../fonts/huxico.eot');
	src:url('../fonts/huxico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/huxico.woff') format('woff'),
		url('../fonts/huxico.ttf') format('truetype'),
		url('../fonts/huxico.svg#huxico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 1em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 1em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 0.5em 0;
	font-weight: normal;
	margin: 0 1em;
	font-size: 1.5em;
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'huxico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e004";
	font-family: 'huxico';
}

.cbp_tmicon-screen:before {
	content: "\e005";
}

.cbp_tmicon-html:before {
	content: "\e001";
	font-family: 'huxico';
}

.cbp_tmicon-video:before {
	content: "\e002";
}

.cbp_tmicon-font:before {
	content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 14px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em 0;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}

/******* Hux Branch *****/
html{
	font-size: 90%;
}
body{
	font-family: "Hiragino Sans GB","Microsoft Yahei", "黑体",sans-serif;
}
/*footer{
	background: #6ca8fb;
	text-align: center;
	width: 100%;
	min-width: 100%;
	padding: 3em 0px !important;
	position: relative;
	color: white;
}*/
/*footer .tri{
	position: absolute;
	top: -35px;
	width: 100%;
	height: 35px;
}
footer .tri img{
	width: 74px;
}
footer a:hover{
	color: rgb(255, 255, 0);
}*/
.cbp_tmlabel .hux_ul{
	border:none;
	padding:0;
	margin:0;
	margin-left: 5px;
}
.cbp_tmlabel .hux_ul li{
	padding:0;
	margin: 0;
	list-style-type: disc;
}
header{
	background: #6ca8fb;
	text-align: center;
	height: 520px;
	min-width: 100%;
	padding: 5em 0px !important;
	margin-bottom: 50px !important;
	position: relative;
}
header p{
	text-align: center;
	color: white;
	font-size: 1.05em;
	line-height: 2em;
	letter-spacing: 1px;
	margin: 2em;
}
header img{
	width: 190px;
}
header .tri{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 35px;
}
header .tri:after{
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 37px;
	border-bottom-width: 31px;
	bottom: 0px;
	left: 50%;
	margin-left: -37px;
}

.cbp_tmlabel img{
	width: 100%;
	margin-bottom: 1em;
}
.cbp_tmlabel p{
    padding: 1em 0;
	/*text-indent: 2em;*/
    margin: 0 1.5em;
    border-top: 1px solid rgba(255,255,255,0.4);
}
.cbp_tmlabel ul{
    padding: 0.5em 0;
    margin: 0 1.5em;
    border-top: 1px solid rgba(255,255,255,0.4);
    list-style: none;
}
.cbp_tmlabel ul li{
    padding: 0.5em 0;
}
/*.cbp_tmlabel ul li:nth-child(1){
	text-indent: 2em;
}*/
.cbp_tmlabel ul li.skill{
	overflow: auto;
	padding-top: 1em;
	padding-bottom: 0.4em;
}
.cbp_tmlabel ul li.skill span{
    display: block;
    float: left;
    font-size: 1.3em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2.1em;
    /*border: 0.1em solid white;*/
    margin-right: 0.4em;
    background: white;
    border-radius: 50%;
    color:#6ca8fb;
}
.cbp_tmlabel ul li.skill span.link{
	float: right;
	font-size: 0.8em;
	line-height: 4.6em;
	width: 4.5em;
	height: 4.5em;
	border-radius: 50%;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
	margin-top: -0.8em;
	font-weight: 900;
	margin-right: 5px;
}
.cbp_tmlabel ul li.skill span.link:active{
	background: #eee;
}
.cbp_tmlabel ul li.skill span.link a {
	display: block;
	width: 100%;
	height: 100%;

}

@media screen and (max-width: 400px) {

	.main{
		width: 100%;
		padding-bottom: 0px;
	}
	html{
		font-size: 90%;
	}
	header p{
		letter-spacing: 0px;
		margin: 1.5em;
	}
}